<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Werk</title>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Job Werk</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style">Log out</button>
          {{else}}
          <a href="/login">Log in</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/controllers/authroutes.js"></script>
      <script src="/utils/auth.js"></script>
      <script src="/javascript/add-job.js"></script>
      <script src='/javascript/edit-job.js'></script>
      <script src='/javascript/delete-job.js'></script>
    {{/if}}
    <script src="/javascript/login.js"></script>
    {{!-- <script src="/javascript/logout.js"></script> --}}
  </body>

</html>