
<form class="login" id="login">
  <div>
    <label for="email">email:</label>
    <input type="text" id="email" />
  </div>
  <div>
    <label for="password">password:</label>
    <input type="password" id="password" />

  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>


<form class="signup" id="signup">
  <div>
    <label for="username">username:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="email">email:</label>
    <input type="text" id="email" />
  </div>
  <div>
    <label for="password">password:</label>
    <input type="password" id="password" />

  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="./javascript/auth.js"></script>
