<form class='login' class='login'>
  <div>
    <label for='email'>email:</label>
    <input type='text' class='email' />
  </div>
  <div>
    <label for='password'>password:</label>
    <input type='password' class='password' />

  </div>
  <div>
    <button type='submit'>login</button>
  </div>
</form>

<form class='signup' class='signup'>
  <div>
    <label for='username'>username:</label>
    <input type='text' class='username' />
  </div>
  <div>
    <label for='email'>email:</label>
    <input type='text' class='email' />
  </div>
  <div>
    <label for='password'>password:</label>
    <input type='password' class='password' />

  </div>
  <div>
    <button type='submit'>signup</button>
  </div>
</form>