body {
    margin: 1rem;
    background-color: #141414;
}

.main-grid {
    display: grid;
    grid-template-columns: 300px 1fr 150px;
    grid-template-rows: 1fr repeat(10, auto);
    grid-gap: 10px;
    color: white;
    text-decoration: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-cont {
    background-image: url("/assets/images/hero.jpg");
    width: 100vw;
    grid-column: 1 / 4;
    background-size: cover;
    height: 400px;
    }

.nav {
    padding-top: 1rem;
    color: #fff;
    text-align: center;
}

.nav a {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    
}

.nav a:hover {
    text-decoration: underline;
    
}

.slogan {
    grid-column: 2 / 4;
    border: solid white;
    text-align: center;
}

.ind-cont {
    grid-column: 1;
    grid-row: 2 / 7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px repeat(5, 100px);
    grid-gap: 1rem;
    text-align: center;
    padding: 1rem;  
    }

.elec-tile {
    color: black;
    grid-row: 2 /3;
    text-align: center;
    border: solid black;
    justify-content: center;
    background-image: url(/assets/images/images.jpg);
    cursor: pointer;
}

.pnt-tile {
    grid-row: 3 / 4;
    text-align: center;
    justify-content: center;
    background-image: url(/assets/images/images\ \(1\).jpg);
    cursor: pointer;
}

.pnt-tile hover {
    backdrop-filter: blur(10px);
      filter: blur(4px);
      transition: 0.5s ease;
}



.plm-tile {
    grid-row: 4 / 5;
    text-align: center;
    border: solid black;
    justify-content: center;
    background-image: url(/assets/images/download.jpg);
    cursor: pointer;
}

.crp-tile {
    grid-row: 5 / 6;
    text-align: center;
    border: solid black;
    justify-content: center;
    background-image: url(/assets/images/images\ \(2\).jpg);
    cursor: pointer;
}

.res-cont {
    grid-column: 2 / 3;
    grid-row: 3 / 11;
    border: solid white;
}

.ratings {
    grid-column: 3 / 4;
    grid-row: 3 / 11;
    border: solid white;
}
