body {
    margin: 1rem;
    background-color: black;
}

.main-grid {
    display: grid;
    background-color: black;
    grid-template-columns: 300px 1fr 150px;
    grid-template-rows: 400px repeat(10, 1fr);
    grid-gap: 10px;
    color: white;
    text-decoration: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-cont {
    background-image: url("images/hero.jpg");
    width: 100vw;
    grid-column: 1 / 4;
    background-size: cover;
    height: 400px;
    }

.nav {
    padding-top: 1rem;
    color: #fff;
    text-align: center;
}

.nav a {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    
}

.nav a:hover {
    text-decoration: underline;
    
}

.slogan {
    grid-column: 2 / 4;
    background-color: #141414;
    text-align: center;
}

.ind-cont {
    background-color: #141414;
    grid-column: 1;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px repeat(5, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    text-align: center;
    }

.elec-tile {
    color: black;
    background-image: url(/assets/images/electrical.jpg);
    background-size: cover;
    grid-row: 2 / 3;
    cursor: pointer;
    font-weight: bold;
    padding: 2.5rem;
}



.pnt-tile {
    grid-row: 3 / 4;
    justify-content: center;
    background-image: url(/assets/images/paint.jpg);
    background-size: cover;
    cursor: pointer;
    background-position: center;
    color: black;
    font-weight: bold;
    padding: 2.5rem;
}

.plm-tile {
    grid-row: 4 / 5;
    text-align: center;
    justify-content: center;
    background-image: url(/assets/images/plumbing.jpg);
    background-size: cover;
    cursor: pointer;
    color: black;
    font-weight: bold;
    padding: 2.5rem;
}

.crp-tile {
    grid-row: 5 / 6;
    text-align: center;
    justify-content: center;
    background-image: url(/assets/images/carpentry.jpg);
    cursor: pointer;
    color: black;
    font-weight: bold;
    padding: 2.5rem;
}

.res-cont {
    background-color: #141414;
    grid-column: 2 / 3;
    grid-row: 3 / 11;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    text-align: center;
}

.res {
    border: solid black;
    text-align: center;
    margin: 1%;
    padding: 2.5rem;
}

.ratings {
    grid-column: 3 / 4;
    grid-row: 3 / 11;
}
